<div>
    <h1>Welcome to {{ title }}</h1>
    <div class="container">
        <h1>Welcome to Eye Donation Camp By Being Human NGO</h1>
    </div>

    <div class="button-container">
      <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8890897/" target="_blank" class="button read-article-btn">Read Articles</a>
      <a href="https://www.ebai.org/" target="_blank" class="button pledge-btn">Pledge to Donate</a>
    </div>
    <img class="img1" src="https://www.apollospectra.com/backend/web/blog-images/1617877224Eye-donation.jpg" alt="none">
        <div class="camp-info">
          <p>The Eye Donation Camp is organized to raise awareness about the importance of eye donation. It aims to encourage people to pledge to donate their eyes after death and help those suffering from corneal blindness.</p>
          <p>Corneal blindness is a curable condition where the cornea becomes damaged or diseased, resulting in loss of vision. By donating corneas, individuals can provide the gift of sight to those in need.</p>
          <p>Did you know that donated corneas can be used to cure retinal blindness as well? The cornea is a clear, dome-shaped surface that covers the front of the eye. It acts as a protective layer and helps focus light entering the eye.</p>
          <p>When a person suffers from retinal blindness, it's typically due to damage to the retina, which is the light-sensitive tissue at the back of the eye. However, in some cases, retinal blindness can be caused by corneal issues.</p>
          <p>By transplanting a healthy cornea from a donated eye, doctors can restore vision in individuals with retinal blindness caused by corneal problems. This life-changing procedure has the potential to significantly improve the quality of life for those affected.</p>
          <p>If you're interested in learning more about eye donation or wish to pledge to donate your eyes, please visit our camp booth for more information. Together, let's make a difference and bring light to someone's life!</p>
        </div>
      

</div>
  